@import './../../styles.scss';

.table {
  background-color: #ffffff;

  &__header-cell {
    background-color: $primary-color;
    color: #ffffff;
  }

  &__edit-button {
    color: $accent-color;

    &:hover {
      color: darken($accent-color, 10%);
    }
  }


  &__row {
    &:nth-child(even) {
      background-color: lighten($primary-color, 50%);
    }
  }
}

.filter {
  margin-bottom: 16px;
  line-height: 32px;

  &__form-field {
    width: 100%;
  }
}
